<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-6level- %C{0} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
  
  <Logger name="org.apache.http.client.protocol.ResponseProcessCookies" level="ERROR" />
  <Logger name="org.springframework" level="WARN" />
  <Logger name="org.greeneyed" level="INFO" />
  
</configuration>