<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<body>
    <!-- Navigation -->
    <header th:fragment="navbar" class="align-items-start app-header flex-column flex-md-row navbar navbar-expand-md navbar-light">
        <div class="align-items-baseline d-flex flex-row navbar-brand p-lg-3 pl-3 pr-3 pt-3">
            <a class="navbar-brand" th:href="@{/librarian/}">EPL Librarian</a>
            <button class="collapsed ml-auto navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#side-menu-wrapper" aria-controls="side-menu" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
  </header>
</body>
</html>