<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Sonar no sabe lo que es un fragmento</title>
</head>
<body>
    <!-- User's side bar -->
    <ul th:fragment="user-sidebar" class="nav" id="user-side-menu">
        <button class="rounded-circle border-0" id="sidebarToggle">
          <i class="fa fa-fw"></i>
         </button>
        <navigation-option label="Biblioteca" target-section="biblioteca" icon="book"></navigation-option>
        <navigation-option label="Autores" target-section="autores" icon="address-card-o"></navigation-option>
        <navigation-option label="Generos" target-section="generos" icon="sitemap"></navigation-option>
        <navigation-option label="Idiomas" target-section="idiomas" icon="flag"></navigation-option>
        <navigation-option label="Gr&aacute;ficos" target-section="graficos" icon="bar-chart"></navigation-option>
    </ul>
</body>
</html>